# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
venv.bak/
env.bak/

# Environment variables
/.env
/app/.env

# IDE files
.idea/
.vscode/

# Arquivos enviados e cache do pytest
uploads/
.pytest_cache/
